<!-- <div class="d-flex align-items-center">
    <table class="table table-bordered table-hover">
        <thead class=thead-dark>
            <tr>
                <th scope="col">Production Date</th>
                <th scope="col">Despatch Date</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Product</th>
                <th scope="col">Packaging</th>
                <th scope="col">Weight (kg)</th>
                <th scope="col">Transport</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.warehouse}}</td>  
                <td>{{product.grade}}</td>
                <td>{{product.weight}}</td>
                <td>{{product.lotNumber}}</td>
                <td>{{product.bagNumber}}</td>
                <td>{{product.packaging}}</td>
                <td>{{product.decantNote}}</td>
                <td>{{product.status}}</td>
                <td>{{product.notes}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-hover">
        <thead class=thead-dark>
            <tr>
                <th scope="col">Warehouse</th>
                <th scope="col">Grade</th>
                <th scope="col">Weight(kg)</th>
                <th scope="col">Lot Number</th>
                <th scope="col">Bag Number</th>
                <th scope="col">Packaging</th>
                <th scope="col">Decant Note</th>
                <th scope="col">Status</th>
                <th scope="col">Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.warehouse}}</td>
                <td>{{product.grade}}</td>
                <td>{{product.weight}}</td>
                <td>{{product.lotNumber}}</td>
                <td>{{product.bagNumber}}</td>
                <td>{{product.packaging}}</td>
                <td>{{product.decantNote}}</td>
                <td>{{product.status}}</td>
                <td>{{product.notes}}</td>
            </tr>
        </tbody>
    </table> -->