.warehouseFilter{
    font-weight: bold;
}

.statusFilter{
    font-weight: bold;
}

.packagingFilter{
    font-weight: bold;
}

.table{
    text-align: center;
    position: relative;
}

.th{
    position: sticky;
    top: 0;
}

.list-group{
    margin-top: 20px;
}

.col-3{
    width: 80%;
}



.sortHeader{
    margin-top: 20px;
    padding-bottom: 10px;
}